*/.ipynb_checkpoint
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*/*
*/.ipynb_checkpoints/*/*/*
*/.ipynb_checkpoints/*/*/*/*
*/.ipynb_checkpoints/*/*/*/*/*
*/.ipynb_checkpoints/*/*/*/*/*/*
*/.ipynb_checkpoints/*/*/*/*/*/*/*
*/.ipynb_checkpoints/*/*/*/*/*/*/*/*
*/.ipynb_checkpoints/*/*/*/*/*/*/*/*/*
*/.ipynb_checkpoints/*/*/*/*/*/*/*/*/*/*
*/.ipynb_checkpoints

classify_clothes/finetune.ipynb